<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> Incident Reporting & Archiving </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/sample.css">

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="./"> Incident Reporting & Archiving </a>
    </div>
  </nav>


  <div class="container bump-me">


    <div class="body-content">


      <div class="row">
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Create A Video Call Session & Archive It</div>
            <div class="panel-body">
              <p>
                Everyone who joins the C5ISR Session will create a single OpenTok session stream.                
                Anyone with the C5ISR Session can click Start Archive or Stop Archive to control
                recording of the entire session.
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-danger" href="host">Create A Video Session</a>
              <!-- <a class="btn btn-danger" href="participant">Participant View</a> -->
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Play an archive</div>
            <div class="panel-body">
              <p>
                Click through Past Archives to View the Previous one, using the
                Archiving REST API, to list archives showing status like started,
                stopped, available and playback for available archives.
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" href="history">View Past Archives</a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

<!-- <% include footer %> -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
